body {
    color: deeppink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#cabecera {
    border: 1px dotted chocolate;
    padding: 50px;
    background-color: antiquewhite;
}